@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
#crx-root{
  display: none;
}


.Galada-Regular{
  font-family: 'Galada-Regular' !important;
}


@font-face {
  font-family: 'Galada-Regular';
  src: url('/fonts/Galada-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.max-width{
  max-width: 1920px;
  margin: 0 auto;
}
.center{
  @apply flex justify-center items-center;
}
/* Inside globals.css or your component module CSS */
.custom-swiper .swiper-button-prev,
.custom-swiper .swiper-button-next {
  color: #0095FF; /* Button color */
  top: 50%;
  transform: translateY(-50%);
  z-index: 50; /* Ensures buttons are on top */
}

/* .custom-swiper .swiper-button-prev {
  left: 30px; 
}

.custom-swiper .swiper-button-next {
  right: -30px;
} */

.custom-swiper .swiper-pagination {
  position: relative !important;
  margin-top: 20px;
}
