@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
#crx-root{
  display: none;
}


.Galada-Regular{
  font-family: 'Galada-Regular' !important;
}


@font-face {
  font-family: 'Galada-Regular';
  src: url('/fonts/Galada-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.max-width{
  max-width: 1920px;
  margin: 0 auto;
}
.center{
  @apply flex justify-center items-center;
}